*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #ececec;
    width: 100%;
    top: 0;
}

.judul {
    width: 100%;
    height: 40px;
    margin: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    /* position: fixed; */
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 2rem;
    padding-left: 20px;
    padding-right: 35px;
    /* position: fixed; */
}

input {
    height: 45px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #ececec65;
    padding: 0 25px;
}

input:focus {
    /* border: none; */
    outline: none;
    outline: 2px solid #CF4DCE;
    border-radius: 20px;
}

::-webkit-input-placeholder {
    color: #0000003e;
}

button {
    border: none;
    padding: 8px;
    border-radius: 100px;
    background-color: #CF4DCE;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    text-align: center;
    color: white;
}

.container {
    margin: 170px 20px;
}

#todos {
    list-style: none;
    /* gap: 2rem; */
}

.list {
    border: 1px solid #ececec;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.line {
    margin-bottom: 20px;
    background-color: #ececec;
}

.not_data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        background-color: white;
        border-bottom: 1px solid #ececec;
        width: 100%;
        top: 0;
    }

    .judul {
        width: 100%;
        height: 40px;
        margin: 20px;
        font-size: 11px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        /* position: fixed; */
    }

    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 2rem;
        padding-left: 20px;
        padding-right: 35px;
        /* position: fixed; */
    }

    input {
        height: 45px;
        width: 100%;
        border-radius: 20px;
        border: none;
        background-color: #ececec65;
        padding: 0 25px;
    }

    input:focus {
        outline: none;
        outline: 2px solid #CF4DCE;
    }

    button {
        border: none;
        padding: 8px;
        border-radius: 100px;
        background-color: #CF4DCE;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }

    svg {
        text-align: center;
        color: white;
    }

    .container {
        margin: 170px 20px;
    }

    #todos {
        list-style: none;
        /* gap: 2rem; */
    }

    .list {
        border: 1px solid #ececec;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

    .line {
        margin-bottom: 20px;
        background-color: #ececec;
    }

    .not_data {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
}
